<form [formGroup]="qrcodeForm" (submit)="onSubmit($event)">
    <div class="grid gap-6 mb-6 w-full">
        <div class="mb-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Text</label>
            <input formControlName="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="What do you want to encode?" required />
        </div>
    </div>
    <button class="bg-purple-700 px-5 py-3 rounded-xl" type="submit">Submit</button>
</form>

<div class="qrcode-dump">
<img *ngIf="qrImage" src="{{qrImage}}" alt="Image is still loading" srcset="">
</div>